In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df =pd.read_csv("college_data.csv")

In [3]:
df.head(3)

,Institute code,College Name,Fees,GOVERNMENT/PRIVATE,Location,Computer_ CET_cuttoff,Computer_JEE_cuttoff,GENERAL_cuttoff,OBC_cuttoffs,SC/ST_cuttoff,...,Quota(management)(yes/no),Intakes(seats),Placement (on_campus)(yes/no),college_hostels_available,Academic rating (out of 5),Faculty rating(out of 5),Infrastructure rating (out of 5),accomodation rating (out of 5),Placement rating (out of 5),Overall rating (out of 10)
0,2250,Aurangabad College of Engineering,60500,Un-Aided,"Gut No 52, Tuljapur Shivar,Harsul-Sawangi, Nay...",80.04,61.1804012,78.87,69.3,56.740000,...,Yes,60,Yes,Yes,NaN,4.0,2.25,NaN,4.50,NaN
1,6605,COLLEGE OF ENGINEERING VAIRAG,60000,Un-Aided/ Non-Autonomus,"Dhengale-Patil Nagar, Sasure-Vairag, Gat No.67...",69,65,69,65,67.000000,...,yes,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN
2,6609,JAIHIND COLLEGE OF ENGINEERING,75000,Un-Aided/ Autonomus,"SH 52, Narayangaon - Junnar Rd, Narayangaon, P...",75.17,67.125118,78.8754662,76.6367377,48.058902,...,Yes,120,Yes,Yes,NaN,4.0,3.00,NaN,1.25,NaN

In [4]:
df.shape

(348, 21)

In [5]:
df.isnull().mean()*100

Institute code                        1.149425
College Name                          0.000000
Fees                                  0.000000
GOVERNMENT/PRIVATE                    0.000000
Location                              0.574713
Computer_ CET_cuttoff                 4.310345
Computer_JEE_cuttoff                 11.206897
GENERAL_cuttoff                       3.160920
OBC_cuttoffs                          8.333333
SC/ST_cuttoff                        10.632184
EWS_cuttoffs                         10.919540
Quota(management)(yes/no)             2.298851
Intakes(seats)                        4.022989
Placement   (on_campus)(yes/no)       2.586207
college_hostels_available             1.724138
Academic rating (out of 5)           93.390805
Faculty rating(out of 5)              4.885057
Infrastructure rating (out of 5)      6.034483
accomodation rating (out of 5)       95.114943
Placement rating (out of 5)          17.241379
Overall rating (out of 10)          100.000000
dtype: float64

In [8]:
# set(df['Location'])

In [9]:
# clusitring according to the dataset

In [6]:
from sklearn.impute import SimpleImputer 
sim =SimpleImputer(missing_values=np.NaN,strategy='mean')

In [13]:
df["Computer_ CET_cuttoff "] =sim.fit_transform(df[['Computer_ CET_cuttoff ']])

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: '82.4069575)'

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Institute code                    344 non-null    object
 1   College Name                      348 non-null    object
 2   Fees                              348 non-null    int64
 3   GOVERNMENT/PRIVATE                348 non-null    object
 4   Location                          346 non-null    object
 5   Computer_ CET_cuttoff             333 non-null    object
 6   Computer_JEE_cuttoff              309 non-null    object
 7   GENERAL_cuttoff                   337 non-null    object
 8   OBC_cuttoffs                      319 non-null    object
 9   SC/ST_cuttoff                     311 non-null    float64
 10  EWS_cuttoffs                      310 non-null    object
 11  Quota(management)(yes/no)         340 non-null    object
 12  Intakes(seats)                    334 non-null    object
 13  Placement   (on_campus)(yes/no)   339 non-null    object
 14  college_hostels_available         342 non-null    object
 15  Academic rating (out of 5)        23 non-null     float64
 16  Faculty rating(out of 5)          331 non-null    float64
 17  Infrastructure rating (out of 5)  327 non-null    float64
 18  accomodation rating (out of 5)    17 non-null     float64
 19  Placement rating (out of 5)       288 non-null    float64
 20  Overall rating (out of 10)        0 non-null      float64
dtypes: float64(7), int64(1), object(13)
memory usage: 57.2+ KB

In [18]:
np.array(df['Computer_ CET_cuttoff '])

array(['80.04', '69', '75.17', '78', '87', '65.5', '89', '82.25', '59.9',
       '71.3', '65.89', '78.9', '98.74', '89.9', '87.67', '82.36',
       '80.98', '85.45', '78', '78.71', '88.81', '97.81', '94.8', '89.25',
       '72', '74.14', '88.09', '82.87', '71.4', '95.45', '91.29', '86.36',
       '69.78', '71.4', '67.71', '64.23', '70', '88.6', '61.43', '53.65',
       '61.68', '79.79', '81.23', '59.68', '97.72', '96.14', '87.22', nan,
       '70.51', '72.6119403', '82.4069575)', '85.9227307', '58.7429854',
       '80.2375547', '76.7693871', '65.107535', '54.6979992', '60.750409',
       '75.35', '85', '80.845414', '85', '79.5681', '56.7812', '70',
       '56.7650589', '59.4192464', '32.2621925', '57.6946774', '54.12',
       '47.76', '79.33', '69.6', '96.9302413', nan, '28.1605922',
       '89.4839384', nan, nan, '95.8405342', '97.1424274', '89.9583318',
       '71.4000828)', '85', '85', '85', '85', '85', '85', '98.274',
       '98.285', '62.399', '91.262', '94.997', '45.644', '89.993',
       '85.922', '93.405', '91.013', '85', '85', '85', '85', '85', '85',
       '85', '85', '85', '85', '85', '85', '90', '85', '85', '85', '95',
       '85', '85', '80', '85', '85', '85', '85', '85', '85', '85', '85',
       '85', '85', '80', '85', '75', '80', '85', '65', '70', '60', '70',
       '65', '85', '85', '85', '85', '85', '85', '85', '85', '85', '85',
       '80', '87', '85', '71.72', '85', '85', '85', '85', '85', '85',
       '85', '85', '85', '85', '85', '85', '85', '85', '85', '85', '80',
       '70', '60', '90', '97', '91', '88', '85', '90', '83', '51', '88',
       '71', '91', '84', '85', '54', '80', '92', nan, nan, nan, nan, nan,
       nan, nan, nan, nan, '75.08', '95.55', '88.63', '94.44', '60.56',
       '80.65', '85.55', '80.54', '80', '90', '80', '80', '60.72',
       '69.04', '68.5', '59.93', '81.24', '60', '60', '94.62', '80.8',
       '70', '70', '75', '80', '85', '75', '70', '80', '65', '70',
       '43.5071268', '86.3770498', '70.6180504', '42.5530244)',
       '96.3249371', nan, '99.9174143', '99.4594392', '85.4752553',
       '93.3857089', '87.95', '78.95', '92.47', '93.4454', '95.342',
       '92.47', '95.4545', '87.55', '92.47', '92', '98.89263', '94.39918',
       '91.75', '88.2852988', nan, '63.54', '82.46', '84.52', '87.82',
       '88.02', '81.12', '97.79', '94.82', '39.79', '17.6', '87.51',
       '85.56', '83.64', '88.29', '97.13', '94.88', '83.63', '79.81',
       '81.48', '99.67', '97.33', '99.23', '97.78', '84.5', '98.66',
       '77.99', '97.21', '94.03', '97.56', '86.84', '92.8', '91.69',
       '80.86', '98.05', '65.03', '87.6', '60', '66', '30', '60', '77',
       '83', '50', '75', '0.7517', '77.85', '69.91', '92', '60', '70',
       '65', '86', '78', '82', '85', '0.75', '0.85', '0.84', '85', '75',
       '85', '90', '90', '95', '85', '47', '55', '60', '47', '50',
       '30.59', '64.26', '77.41', '86.34', '82.2', '91.02', '71.98',
       '92.04', '74.08', '90.65', '59.86', '94.19', '62.8', '30.59',
       '78.34', '95.88', '74.14', '78.42', '67.4', '96.46', '90', '80',
       '85', '95', '87'], dtype=object)

In [20]:
try:
    df['Computer_ CET_cuttoff '].astype(float)
except Exception as e:
    print(e)
    print(e.with_traceback)

could not convert string to float: '82.4069575)'
<built-in method with_traceback of ValueError object at 0x0000029BEE4057E0>

In [32]:
df['Computer_ CET_cuttoff ']=df['Computer_ CET_cuttoff '].astype(str)

In [34]:
li=[]
for i in range(len(df['Computer_ CET_cuttoff '])): 
    li.append(df['Computer_ CET_cuttoff '].iloc[i].split('.')[0])

In [36]:
df['Computer_ CET_cuttoff']=li

In [39]:
df['Computer_ CET_cuttoff']=sim.fit_transform(df[['Computer_ CET_cuttoff']])

In [41]:
df['Computer_ CET_cuttoff']=df['Computer_ CET_cuttoff'].astype(int)